.for-fit div
{
    width: 100%;
}
.small-button
{
    margin-top: 5px;
}
div[name='expected_revenue'], div[name='expected_revenue'] input, div[name='expected_revenue'] div, .o_lead_opportunity_form h2 .align-items-end
{
    max-width: 18rem!important;
}
#expected_revenue
{
    width: 170px!important;;
}
.fc-dayGrid-view .fc-body .fc-row
{
    min-height: 15em!important;
}
.fc-more
{display: none;}